@charset "UTF-8";
@font-face {
  font-family: Noto;
  src: url(font/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Nice;
  src: url(font/Montserrat-ExtraBold.ttf);
}

body {font: large Nice;}